@font-face {
    font-family: "Blessed day";
    src: url("fonts/BLESD___ .ttf") format("truetype");
}
h1{
	 font-family: "Blessed day", Helvetica, Arial, sans-serif;
	 font-size:8em; line-height:1.2em; font-weight:normal;
}
body{
	background:#f0e39f;
	color:#4f200c;
}

input, button, select, textarea {
	font-family:Helvetica,Arial, sans-serif;
}

.hidden{
	display:block;
	visibility:hidden;
}

.btn-primary:active, .btn-primary.active {
	background-color:#4f200c;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color:#4f200c;
}

.btn-primary {
	background-color:#4f200c;
	background-image: -moz-linear-gradient(top,#605b3f,#4f200c);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#605b3f),to(#4f200c));
	background-image: -webkit-linear-gradient(top,#605b3f,#4f200c);
	background-image: -o-linear-gradient(top,#605b3f,#4f200c);
	background-image: linear-gradient(to bottom,#605b3f,#4f200c);
	background-repeat: repeat-x;
	border-color: #04c #04c #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

hr{
	border-top: 1px solid #4f2f0f;
	border-bottom: 1px solid #4f200c;
}


/*******************************/
/*******************************/
/********* BACK OFFICE *********/
/*******************************/
body.backoffice {
	padding-top:40px;
}
body.backoffice > header{
	background:#4f200c;
	color:#f0e39f;
	text-align:center;
}
body.backoffice > header .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	color:#4f200c;
	cursor:default;
	background-color:#f0e39f;
	border:1px solid #f0e39f;
	border-bottom-color:transparent;
}
body.backoffice > header .nav-tabs {
	border-bottom: 1px solid #f0e39f;
	margin:0;
}
body.backoffice > header .nav-tabs > li > a {
	color:#f0e39f;
	
	padding:12px 20px 12px 20px;
	line-height: 20px;
	border: 1px solid #f0e39f;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
body.backoffice > header .nav-tabs > li > a:hover {
	background-color:#f0e39f;
	color:#4f200c;
}
body.backoffice > header .nav-tabs > .active > a:hover {
	background-color:#f0e39f;
	color:#4f200c;
}
body.backoffice .span4 > div, .span4 > p{
	min-height:100px;
	width:100%;
	border:none;
	box-shadow:none
}
body.backoffice #luminosite{
	border-radius:9px;
}
body.backoffice #luminositeVal{
	display:none;
	visibility:hidden
}
body.backoffice #console{
	bottom:0;
	position:absolute;
}
body.backoffice #console pre{
	max-height:150px;
}
body.backoffice .btn-color{
	background-image: -moz-linear-gradient(top,rgba(255,255,255,0.1),rgba(230,230,230,0.2));
	background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.1)),to(rgba(230,230,230,0.2)));
	background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.1),rgba(230,230,230,0.2));
	background-image: -o-linear-gradient(top,rgba(255,255,255,0.1),rgba(230,230,230,0.2));
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(230,230,230,0.2));
	background-repeat: repeat-x;
}
body.backoffice .btn-color:hover{
	background-position: 0 0;
}

/*******************************/
/*******************************/
/********** CONNEXION **********/
/*******************************/
body.popup{
	background:rgba(118,112,78,1);
}
.form-signin{
	background:#f0e39f;
	border-radius:9px;
	padding:40px;
	position:fixed;
	left:50%;
	top:50%;
	z-index:10;
	width:500px;
	visibility:hidden;
	text-align:center;
}
.form-signin.affiche{
	visibility:visible;
}
.form-signin h2{
	font-family: "Blessed day", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:6em;
	text-align:center;
}
.form-signin input[type='text'], .form-signin input[type='password']{
	border:none;
	background-color:#4f200c;
	color:#f0e39f;
	font-weight:bold;
}

.form-signin button[type='submit']{
	background:#f0e39f;
	color:#4f200c;
	font-weight:bold;
}

.closeBtn{
	position:relative;top:-50px;right:-50px;
	color:#f0e39f;
	width:40px;height:40px;text-align:center;border-radius:50%;font-size:2em;line-height:1.5em;
	background:#4f200c;
	float:right;
	cursor:pointer;
	-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 6px rgba(0,0,0,0.5);
	box-shadow:0 1px 6px rgba(0,0,0,0.5);
	
}
.closeBtn:hover{
	-webkit-box-shadow: inset 0 1px 6px rgba(0,0,0,0.8),0 1px 6px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 6px rgba(0,0,0,0.8),0 1px 6px rgba(0,0,0,0.5);
	box-shadow: inset 0 1px 6px rgba(0,0,0,0.8),0 1px 6px rgba(0,0,0,0.5);
}

/*******************************/
/*******************************/
/********* MEDIA QUERY *********/
/*******************************/
@media screen and (max-width: 640px){
	#slogan{
		display:none;
		visibility:hidden;
	}
}


/***************
 * PRETTYFY
 ***************/

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #f0e39f; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
	/*padding: 8px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;*/
	background-color: rgba(0, 0, 0, 0.6);
	/*border: 1px solid #e1e1e8;*/
}
.prettyprint.linenums {
	-webkit-box-shadow: inset 40px 0 0 #4f200c, inset 41px 0 0 #4f200c;
	-moz-box-shadow: inset 40px 0 0 #4f200c, inset 41px 0 0 #4f200c;
	box-shadow: inset 40px 0 0 #4f200c, inset 41px 0 0 #4f200c;
	line-height:0.5em;
	padding: 0;
	margin: 0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin: 0 0 0 33px; /* IE indents via margin-left */
	line-height: 0.5em;
}
ol.linenums li {
	line-height: 0.1em;
	padding-left: 12px;
	color: #fff;
	line-height: 20px;
	/*text-shadow: 0 1px 0 #fff;*/
}