#Mobile
mobile/temp
mobile/dist
mobile/.sass-cache
mobile/.project
mobile/.DS_Store

#Eclipse
.buildpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
mysql.sock
app/spool/*

#Mac
.DS_Store

#node-back
back-node/node_modules
