/*************************************************************/
/************************** COLORS **************************/
/***********************************************************/

$bg_body: #fff;
$bg_body_dark: #f7f7f7;

$white: #FFFFFF;
$black: #000000;

$orange_light: #ffc741;
$orange_medium: #ffb400;
$orange_dark: #eda700;

$grey_ultra_light: #fafafa;
$grey_light: #d6d6d6;
$grey_medium: #666666;
$grey_dark: #999999;
$grey_ultra_dark: #474747;



/*************************************************************/
/************************* MIXINS ***************************/
/***********************************************************/

@mixin radius ($radius){
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin simple_gradient ($bg_color1, $pourcent1, $bg_color2, $pourcent2){
    background-color: $bg_color1;
    background-image: -moz-linear-gradient(top, $bg_color1 $pourcent1, $bg_color2 $pourcent2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop($pourcent1,$bg_color1), color-stop($pourcent2,$bg_color2));
    background-image: -webkit-linear-gradient(top, $bg_color1 $pourcent1,$bg_color2 $pourcent2);
    background-image: -o-linear-gradient(top, $bg_color1 $pourcent1,$bg_color2 $pourcent2);
    background-image: -ms-linear-gradient(top, $bg_color1 $pourcent1,$bg_color2 $pourcent2);
    background-image: linear-gradient(to bottom, $bg_color1 $pourcent1,$bg_color2 $pourcent2);
}

@mixin button ($color, $bg_color1:#FFF, $pourcent1:10%, $bg_color2:#000, $pourcent2:90%){
    @include simple_gradient($bg_color1, $pourcent1, $bg_color2, $pourcent2);
    cursor:pointer;
    color: $color;
    text-decoration:none;
    -webkit-box-shadow:rgba(255,255,255,0.5) 0 1px 1px inset,rgba(0,0,0,0.05) 0 1px 0;
    -moz-box-shadow:rgba(255,255,255,0.5) 0 1px 1px inset,rgba(0,0,0,0.05) 0 1px 0;
    box-shadow:rgba(255,255,255,0.5) 0 1px 1px inset,rgba(0,0,0,0.05) 0 1px 0;
    
    &:hover{
        text-decoration:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
    }
    &:active{
        text-decoration:none;
        @include simple_gradient($bg_color2, $pourcent1, $bg_color1, $pourcent2);
        -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 2px inset;
        -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 2px inset;
        box-shadow: rgba(0,0,0,0.1) 0 1px 2px inset;
    }
}

@mixin box_shadow ($x: 0, $y: 0, $blur: 1px, $color: #000){
    -webkit-box-shadow: $x $y $blur $color;
       -moz-box-shadow: $x $y $blur $color;
            box-shadow: $x $y $blur $color;
}
@mixin box_shadow_inset ($x: 0, $y: 1px, $blur: 0, $color: #fff, $inset: inset){
    -webkit-box-shadow: $x $y $blur $color $inset;
       -moz-box-shadow: $x $y $blur $color $inset;
            box-shadow: $x $y $blur $color $inset;
}
@mixin box_shadow_rgba ($x: 0, $y: 1px, $blur: 2px, $rgba: rgba(0,0,0,0.1)){
    -webkit-box-shadow: $x $y $blur $rgba;
       -moz-box-shadow: $x $y $blur $rgba;
            box-shadow: $x $y $blur $rgba;
}
@mixin box_shadow_inset_rgba ($x: 0, $y: 1px, $blur: 2px, $rgba: rgba(0,0,0,0.1), $inset: inset){
    -webkit-box-shadow: $x $y $blur $rgba $inset;
       -moz-box-shadow: $x $y $blur $rgba $inset;
            box-shadow: $x $y $blur $rgba $inset;
}
@import "font-awesome";

@font-face {
  font-family: 'DidactGothic';
  src: url('../fonts/DidactGothic');
  font-weight: normal;
  font-style: normal;
}

/*************************************************************/
/************************ BODY & CIE ************************/
/***********************************************************/

body{
    background: white;
    margin:0;
    padding:0;
    font-family:Helvetica,Arial,sans-serif;
    font-size:12px;
    line-height:18px;
    color:$grey_medium;
    
    figure,img,div,p,a,h1,h2,h3,h4,h5,h6,section,body,html{
        padding:0;
        margin:0;
    }

    #main_container{
        position:relative;
        margin:0 auto;
        min-width:320px;
        max-width:320px;
        padding-top:36px;
        
        i.arrow{
            background-image:url('../images/arrow.png');
            background-repeat:no-repeat;
            background-size:44px 26px;
            opacity:0.1;
            
            &.arrow-left{
                background-position:0px 0px;
            }
            
            &.arrow-right{
                background-position:-22px 0px;
            }
        }
        
        h1, h2, h3, h4, h5, h6{
            padding:0;
            margin:0;
        }
        
        hr {
            background-color:$grey_light;
            width:90%;
            height:1px;
            border:none;
            margin:0 auto;
        }
        
        #header_container{
            width:100%;
            height:50px;
            position:fixed;
            z-index:10;
            left:0;
            top:0;
            @include simple_gradient($orange_light, 0%, $orange_medium, 100%);
            border-bottom:1px solid $orange_dark;
            
            #header{
                width:320px;
                height:50px;
                margin:0 auto;
                
                div{
                    width:100%;
                    height:50px;
                    font-size:20px;
                    line-height:50px;
                    text-align:center;
                    color:$white;
                    margin:0;
                    padding:0;

                    #back{
                        width:50px;
                        height:50px;
                        display:block;
                        float:left;
                        position:relative;
                        
                        .spliter{
                            padding:0 1px;
                            height:50px;
                            background-color:rgba(0,0,0,0.1);
                            display:inline-block;
                            top:0;
                            right:-1px;
                            position:absolute;
                            
                            span{
                                width:1px;
                                height:50px;
                                background-color:$orange_dark;
                                display:inline-block;
                            }
                        }
                        
                        i{
                            width:50px;
                            height:50px;
                            font-size:30px;
                            line-height:50px;
                            display:block;
                        }
                        
                        &:active{
                            background-image: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
                            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
                            background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                            background-image: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                            background-image: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                            background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                        }
                    }
                }
            }
        }
        
        #view{
            padding-top:40px;

            #home{
                display:inline-block;
                position:relative;
                width:100%;
                
                .app{
                    @include simple_gradient($orange_light, 0%, $orange_dark, 100%);
                    @include box_shadow(0px, 1px, 10px, $black);
                    @include radius(6px);
                    display:inline-block;
                    width:90px;
                    height:90px;
                    color:$white;
                    position:relative;
                    text-align:center;
                    font-size:40px;
                    line-height:90px;
                    margin-right:20px;
                    margin-bottom:40px;
                    
                    span{
                        overflow:hidden;
                        position:absolute;
                        bottom:-30px;
                        left:0;
                        font-size:20px;
                        line-height:20px;
                        color:$black;
                        text-transform:uppercase;
                        width:90px;
                        font-family:DidactGothic;
                    }
                    
                    &:active{
                        background:$orange_dark;
                    }

                    &:nth-of-type(3n+3){
                        margin-right:0;
                    }
                }
            }
        }

    }
}